@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url("./assets/fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff") format("woff"), url("./assets/fonts/SFProDisplay-Bold/SFProDisplay-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url("./assets/fonts/SFProDisplay-Light/SFProDisplay-Light.woff") format("woff"), url("./assets/fonts/SFProDisplay-Light/SFProDisplay-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url("./assets/fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff") format("woff"), url("./assets/fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

.wrapper-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.close-icon {
  width: 16px;
  height: 16px;
  background: url("./assets/img/close-icon.svg") center center no-repeat;
  position: fixed;
  top: 2%;
  right: 4%;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .close-icon {
    top: 6%;
    right: 4%;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 87.5%;
  height: 392px;
}

h1 {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-size: 34px;
  text-align: center;
}

.cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40%;
}

.button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 45%;
  border: 1px solid #ee334b;
  border-radius: 45px;
}

.button-box p {
  font-family: 'SFProDisplay-Bold', sans-serif;
}

.benefit {
  width: 40%;
  color: #ee334b;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-left: 5%;
}

@media only screen and (device-width: 320px) {
  .benefit {
    font-size: 12px;
  }
}

.benefit__save-money {
  font-size: 22px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 4px;
}

@media only screen and (device-width: 320px) {
  .benefit__save-money {
    font-size: 16px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 57%;
  background: -webkit-gradient(linear, right top, left top, from(#FF588E), to(#F5244D));
  background: linear-gradient(270deg, #FF588E, #F5244D);
  border-radius: 45px;
}

.button p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;
}

.access {
  width: 62%;
  margin: 0 auto;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-size: 17px;
  line-height: 33px;
  list-style-image: url("./assets/img/marker.svg");
}

@media only screen and (device-width: 320px) {
  .access {
    width: 68%;
    font-size: 16px;
  }
}

.footer {
  width: 78%;
  font-family: 'SFProDisplay-Regular', sans-serif;
  margin: 0 auto;
  margin-top: -8%;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  opacity: 0.5568447;
  padding-bottom: 4vh;
}

.footer a {
  text-decoration: none;
}

.fading {
  position: fixed;
  width: 100%;
  height: 5vh;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.1) 100%);
  bottom: 0;
  left: 0;
}
/*# sourceMappingURL=style.css.map */